<footer class="bg-dark py-5 text-white" style="background: linear-gradient(70deg, #141010, #edeaec);">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5>Contact</h5>
				<p>Email: support@shop.com</p>
				<p>Phone: +380 00 000 00 00</p>
				<p>Address: Shopping Street, 12, Kyiv, Ukraine</p>
			</div>

			<div class="col-md-4">
				<h5>Useful Links</h5>
				<ul class="list-unstyled">
					<li><a href="/about" class="text-white">About Us</a></li>
					<li><a href="/privacy-policy" class="text-white">Privacy Policy</a></li>
					<li><a href="/terms" class="text-white">Terms of Use</a></li>
					<li><a href="/faq" class="text-white">FAQ</a></li>
					<li><a href="/shipping" class="text-white">Shipping & Payment</a></li>
				</ul>
			</div>

			<div class="col-md-4">
				<h5>Social Media</h5>
				<ul class="list-unstyled d-flex">
					<li><a href="https://facebook.com/shop" target="_blank" class="text-white me-3"><i
								class="bi bi-facebook"></i></a></li>
					<li><a href="https://instagram.com/shop" target="_blank" class="text-white me-3"><i
								class="bi bi-instagram"></i></a></li>
					<li><a href="https://twitter.com/shop" target="_blank" class="text-white me-3"><i
								class="bi bi-twitter"></i></a></li>
					<li><a href="https://linkedin.com/company/shop" target="_blank" class="text-white me-3"><i
								class="bi bi-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col text-center">
				<p class="m-0">&copy; 2025 KrytuShmot. All rights reserved.</p>
				<p><a href="/sitemap" class="text-white">Sitemap</a></p>
			</div>
		</div>
	</div>
</footer>